<body>
    

    <form id="login-form"  >
  
      <div>
              <img src="https://i.ibb.co/CPnpK1T/p4.png" class="logo" >
      </div>
  
      <h1>Registrate</h1>
  
      <div class="input email">
          <input type="text" value="" placeholder=" " formControlName="nombres">
          <label>Nombres</label>
      </div>
      <div class="input email">
        <input type="text" value="" placeholder=" " formControlName="apellidos">
        <label>Apellidos</label>
      </div>
      <div class="input email">
        <input type="text" value="" placeholder=" " formControlName="email">
        <label>Email</label>
    </div>
    <div class="input email">
      <input type="password" value="" placeholder=" " formControlName="password">
      <label>Password</label>
    </div>
        
      <button type="submit">
            <span>Registrar</span>
      </button>
      <div >
         <label class="etiqueta">Si tiene una cuenta puedes iniciar sesión
             <a routerLink="/login">aquí</a> </label>
     </div>
  
  </form>
  
  </body>
